*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}
main{
    height:100vh;
    background-image: url(../img/spacetravell.gif);
    background-size: cover;
}
img{
    width: 10%;
    transform: rotate(90deg);
}
#botones{
    display: none;
}
@media only screen and (max-width: 500px){
    main{
        height:90vh;
    }
    #botones{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #botones div{
        font-size: 5vh;
    }
}