@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
}
body{
    background: rgb(95,98,237);
    background: linear-gradient(25deg, rgba(95,98,237,1) 0%, rgba(49,144,229,1) 28%, rgba(124,175,222,0.98) 100%);
}
nav{
    padding-top: 10px;
}
ul{
    text-align: right;
    margin-right: 10%;
}
a{
    text-decoration: none;
}
li{  
    font-size: 1.5vw;
    list-style-type: none;
    display: inline-block;
    padding: 4px 0px;
    margin-right:25px;
}
#Landing{
    font-size: 1.5vw;
    float: left;
    padding: .6%;
    margin-left:10%;
}
#gs{
    padding: .5em 1em;
    border:1px solid white;
    border-radius: 3px;
}
main
{
    padding: 10% 10% 0% 10%;
}
div{
    width: 40%;
    float: left;
}
#info{
    font-size: 1.2vw;
    font-weight: 300;
}
h1{
    font-size: 4vw;
    font-weight:300;
}
#info p{
    margin-bottom: 20px;
    margin-top: 10px;
}
#see{
    font-size:1vw;
    font-weight: lighter;
    background-color: rgb(94, 175, 107);
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
}
#sign{ 
    margin-left: 10%;
    display: inline-block;
    background-color:white;
    box-shadow: -5px 6px 30px 7px rgba(0,0,0,0.3);
    border-radius: 2px;
    padding:30px 0px 40px 0px;
}
h3{
    margin-bottom: 5%;
    color: rgb(78, 78, 78);
    text-align: center;
    font-size:2.5vw;
    font-weight:300;
}
form{
    margin-left: 10%;
    margin-right: 10%;
}
input{
    padding: 10px;
    border: none;
    font-size: 1vw;
    background-color: rgb(228, 228, 228);
    color: gray;
    width: 85%;
    margin: 5% 5% 0% 5%;
}
#submit
{
    margin-left: 8%;
    background-color: rgb(8, 113, 233);
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: -5px 6px 30px 7px rgba(0,0,0,0.2);
}